body {
  /* Accent HSL values */
  --accent-h: 196;
  --accent-s: 60%;
  --accent-l: 55%;

  --titlebar-background: var(--background-primary);
  --titlebar-background-focused: var(--background-secondary);
}

.theme-dark {
  --color-red-rgb: 228, 130, 129;
  --color-red: #e48281;
  --color-orange-rgb: 228, 156, 129;
  --color-orange: #e49c81;
  --color-yellow-rgb: 228, 205, 129;
  --color-yellow: #e4cd81;
  --color-green-rgb: 168, 227, 150;
  --color-green: #a8e396;
  --color-cyan-rgb: 129, 226, 228;
  --color-cyan: #81e2e4;
  --color-blue-rgb: 129, 202, 228;
  --color-blue: #81cae4;
  --color-purple-rgb: 171, 150, 227;
  --color-purple: #ab96e3;
  --color-pink-rgb: 227, 150, 207;
  --color-pink: #e396cf;
  --color-base-00: #090f11;
  --color-base-05: #0b1114;
  --color-base-10: #121d21;
  --color-base-20: #172b32;
  --color-base-25: #2a2a2a;
  --color-base-30: #363636;
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #b3b3b3;
  --color-base-100: #dadada;

  --background-primary: var(--color-base-20);
  --background-primary-alt: var(--color-base-10);
  --background-secondary: var(--color-base-10);
  --background-secondary-alt: var(--color-base-05);

  --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --color-accent-1: hsl(
    calc(var(--accent-h) - 3),
    calc(var(--accent-s) * 1.02),
    calc(var(--accent-l) * 1.15)
  );
  --color-accent-2: hsl(
    calc(var(--accent-h) - 5),
    calc(var(--accent-s) * 1.05),
    calc(var(--accent-l) * 1.29)
  );
}

.workspace-tab-header.mod-active {
  border-top: 1px solid var(--color-accent);
}
